:root{
    --1: #67ecc0;
    --2: #a5da69;
    --3: #ffffff;
    --4: #69da85;
    --5: #000000;
    /* 69da9c */
}

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--2);
}

.main-container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container-buttons{
    background-color: var(--4);
    border: 1px solid var(--5);
    border-radius: 15px;
    margin-top: 30px;
    text-align: center;
    width: 135px;
    height: 85px;
    display: grid;
    grid-template-rows: auto;
    justify-items: center;
    align-content: center;
    gap: 18px;
}

.container-buttons button{
    border-radius: 15px;
    width: 110px;
    height: 22px;
}

.container-modal{
    background-color: #1212123a;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: none;
    position: absolute;
}

.subcontainer-modal{
    width: 400px;
    height: 250px;
    margin: 200px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.container-modal .subcontainer-modal button{
    border-radius: 11px;
    background-color: #4fce75;
    color: var(--3);
    font-size: large;
    width: 25px;
    height: 25px;
    position: absolute;
    z-index: 10;
    top: 28px;
    left: 342px;
}

.modal{
    width: 290px;
    height: 141px;
    background-color: grey;
    border-radius: 12px;
    padding: 15px;
    position: relative;
}